<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todolist</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <style>
        ul{
            list-style: none
        }
        .completed{
            text-decoration: line-through;
            color:darkgray
        }
    </style>
</head>
<body>
    <div id="app">
        <input type="checkbox" v-model="allDone">
        <input type="text" v-model="newTodo" @keyup.enter="addNewTodo()">
        <ul>
            <li v-for="(i,idx) in filteredTodos" :class="i.state==1?'completed':'' ">
                <input type="checkbox" v-model="i.state">{{i.name}}
                <button @click="delTodos(idx)">X</button>
            </li>
        </ul>
        <span>{{leftTodosNum}}items left</span>
        <button @click="visibility='all'">All</button>
        <button @click="visibility='active'">Active</button>
        <button @click="visibility='completed'">Completed</button>
    </div>
    <script>
        var app = new Vue({
            el:"#app",
            data:{
                todos:[
                    {name:"jaljl",state:false},
                    {name:"anfal",state:true}
                ],
                newTodo:"",
                visibility:"all",
                allDone:false
            },
            computed:{
                filteredTodos:function(){
                    if(this.visibility=="all")
                    return this.todos
                    else if(this.visibility=="active"){
                        return this.todos.filter(i=>!i.state)
                    }
                    else if(this.visibility=="completed"){
                        return this.todos.filter(i=>i.state)
                    }
                },
                leftTodosNum:function(){
                    return this.todos.filter(i=>!i.state).length
                }
            },
            watch:{
                allDone:function(val){
                    this.todos=this.todos.map(i=>{
                        i.state=val
                        return i
                    })
                }
            },
            methods:{
                addNewTodo:function(){
                    if(this.newTodo==""){
                        return
                    }
                    var todo={name:this.newTodo,state:false}
                    this.todos.push(todo)
                    this.newTodo="";
                },
                delTodos:function(idx){
                    this.todos.splice(idx,1)
                }
            }
        })
    </script>
</body>
</html>